<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Perfil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Informacion Personal</ion-list-header>
  </ion-list>
  <ion-item (click)="updateName()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Nombre</ion-col>
          <ion-col class="text-center" size="7" *ngIf="userProfile?.fullName">
            {{userProfile?.fullName}}
          </ion-col>
          <ion-col size="7" class="placeholder-profile text-center" *ngIf="!userProfile?.fullName">
            <span> Editar. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <ion-item (click)="updateFono()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Celular</ion-col>
          <ion-col class="text-center" size="7" *ngIf="userProfile?.fono">
            {{userProfile?.fono}}
          </ion-col>
          <ion-col size="7" class="placeholder-profile text-center" *ngIf="!userProfile?.fono">
            <span> Editar. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <ion-item (click)="updateEmail()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Correo </ion-col>
          <ion-col class="text-center" size="7" *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col size="7" class="placeholder-profile text-center" *ngIf="!userProfile?.email">
            <span> Editar. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>




  <ion-item (click)="updatePassword()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Password </ion-col>
          <ion-col class="text-center" size="7" class="placeholder-profile">
            <span> Editar. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

      <ion-button expand="block" color="danger" (click)="logOut()">
        Cerrar Sesion
      </ion-button>
</ion-content>